
#navbar-text{
    text-align: center;
    color: #59D559;
}


.menudesativar{
    margin: 30px 30px 30px 30px;
}

#botao{
    margin-top: 10px;
    margin-bottom: 90px;
}

#botaosubmit{
    background-color: #59D559;
}