html{
  box-sizing: border-box;
}

label.logo{
  color: #59D559;
  font-size: 35px;
  line-height: 80px;
  padding: 0 16px;
  font-weight: bold;
}

@media (max-width: 858px){
  .navbar-menus{
    font-size: 14px;
  }

  #botao-registrar{
    width: 80px;
    height: 50px;
  }
}

.botao-registro-login{
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
}

.botao-registro-login:hover{
  font-size: 19px;
  color: #59D559;
  transition: .3s;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 650px;
}


#firstsession{
    position: relative;
}

#botao-first-session{
  position: absolute;
  top: 95%;
  left: 47%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  background-color: #59D559;
}

#botao-first-session2{
    position: absolute;
    top: 95%;
    left: 57%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    background-color: #59D559;
  }

  .siteparagraphs{
    margin: 20px 0 0 0;
    text-align: center;
    padding: 20px;
    font-size: large;
  }

  .thirdsection{
    background-color: cornsilk;
    width: 100%;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .siteparagraph{
    padding: 30px 0px 10px 0px;
    text-align: center;
    font-size: large;
    margin-top: 20px;
  }

  #cards{
    margin: 20px 30px 10px 30px;
  }

  .thirdsectioncards{
    display: flex;
  }

 

  .fourthsection{
    width: 100%;
    height: 500px;
    margin-top: 10px;
  }


  .fifthsection{
    background-color: cornsilk;
    width: 100%;
    height: 600px;
    margin-top: 10px;
  }

  