
#navbar-text{
    text-align: center;
    color: #59D559;
}



#informacoes-conta{
    margin: 50px 30px 30px 30px;
}

#info-form{
    margin: 50px 30px 30px 30px;
}

#botao-form{
    background-color: #59D559;
}
