.Termos_de_privacidade{
    margin: 50px 30px 30px 30px;
}


#navbar-text{
    text-align: center;
    color: #59D559;
}



.titulo{
    font-weight: 700;
    font-size: large;
    margin-bottom: 20px;
}